.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  max-width: 100%;
  margin: 0 10svh;
}
.agent-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Imagen de fondo */
.card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:cover;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.5;
}

/* Imagen principal */
.card-img {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  object-fit: cover;
  padding-top: 2rem;
  aspect-ratio: 3 / 4;
  transition: all 0.3s ease-in-out;
}
.card-img:hover {
 transform: scale(1.4);
}


.card-name {
  background-color: var(--secondary-text-color);;
  color: var(--dark-text-color);
  font-family: "Tungsten-Bold", sans-serif;;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
  padding: .6rem;
  font-size: 2rem;
  z-index: 1;
  position: relative;
  width: 100%;
}

/* Responsive para tablet/móvil */
@media (max-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
