.agent-search,
.role-filter {
  padding: 1.4rem 1rem;
  font-size: 1rem;
  border: solid 4px var(--secondary-bg-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
}

.agent-search:focus,
.role-filter:focus {
  border: solid 4px blue;
}

.agent-search {
  flex: 1;
  background-image: url("/assets/VALORANT/search--v2.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: 12px center;
  padding-left: 4rem;
  color: white;
}

/* Reference: https://developer.chrome.com/blog/a-customizable-select?hl=es-419 */

.role-filter {
  appearance: none;
}

@supports (appearance: base-select) {
  .role-filter,
  .role-filter::picker(select) {
    appearance: base-select;
  }

  .role-filter {
    padding: 0.5em 1em;
    border: solid 4px var(--secondary-bg-color);
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-weight: 800;
    text-transform: uppercase;
  }

  .role-filter::picker-icon {
    content: "";
    width: 1em;
    height: 1em;
    background-image: url("/assets/VALORANT/Red_Arrow_Down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    transition: transform 0.4s ease-in-out;
  }

  .role-filter:open::picker-icon {
    transform: rotate(180deg);
  }

  .role-filter::picker(select) {
    border: solid 4px var(--secondary-bg-color);
    border-radius: 4px;
    background: var(--role-bg-color);
    color: white;
    max-height: 300px;
    width: 250px;
    overflow-y: auto;
  }

  .role-filter option {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.75em 0.5em;
    font-size: 1rem;
  }

  .role-filter option:hover {
    background-color: #003c7895;
  }

  .role-filter option:checked {
    background-color: blue;
  }

  .role-filter option::checkmark {
    color: var(--secondary-text-color);
  }

  .role-icon {
    font-size: 1.2em;
    display: inline-block;
  }

  .role-icon > img {
    width: 32px;
  }

  selectedcontent {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

@media (max-width: 1440px) {
  .agents-container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .agents-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}

@media (max-width: 768px) {
  .agents-container {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .agents-controls input,
  .agents-controls select {
    width: 100%;
  }
}