.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  background-color: var(--secondary-bg-color);
  height: 10svh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.logo img,
.user-icon img {
  height: 48px;
}

.user-icon img {
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: var(--button-bg-color);
  color: var(--button-color);
}

nav a::after {
  content: "";
  width: 0;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  background: var(--button-color);
  left: 0;
  bottom: -20px;
  transition: 0.5s;
}

nav a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--button-color);
}

@media (max-width: 1024px) {
  .header-nav {
    padding: 0.5rem 1rem;
  }

  .nav-links {
    gap: 1rem;
  }

  nav a {
    padding: 6px 14px;
  }

  .logo img,
  .user-icon img {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    padding: 0.5rem 1rem;
  }

  .logo img,
  .user-icon img {
    height: 36px;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 10svh;
    left: 0;
    right: 0;
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
    background: var(--secondary-bg-color);
  }

  .nav-links.show {
    display: flex;
  }

  nav a {
    font-size: 0.9rem;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  .logo img,
  .user-icon img {
    height: 32px;
  }

  nav a {
    font-size: 0.85rem;
    padding: 6px 12px;
  }
}
