*,
::before,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-bg-color: rgb(26, 36, 46);
  --secondary-bg-color: rgb(17, 17, 17);
  --role-bg-color: #0c151e;
  --primary-test-color: white;
  --secondary-text-color: #ece8e1;
  --dark-text-color: #0f1923;
  --button-color: #f94556;
  --button-bg-color: #373737;
  --button-hover: #2a2a2a;
  --FF-Mark-W05-500: "FF Mark W05", Arial, sans-serif;
  --DINNextW1G-400: DINNextW1G, Inter, sans-serif;
}

@font-face {
  font-family: "Tungsten-Bold";
  src: url("/assets/Fonts/tungsten-bold.woff2") format("woff2"),
    url("/assets/Fonts/tungsten-bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  text-rendering: optimizespeed;
  color: var(--primary-test-color);
  background-color: var(--primary-bg-color);
}

header {
  font-family: var(--FF-Mark-W05-600);
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

main {
  min-height: 90svh;
}

a {
  color: white;
  text-decoration: none;
}

/* General Pages CSS */
.page-section {
  margin: 16svh 16svh;
}

.page-section h2 {
  color: var(--secondary-text-color);
  text-align: start;
  margin-bottom: 2rem;
  font-family: "Tungsten-Bold", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  border-bottom: 4px solid var(--button-color);
}

.page-controls {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

@media (max-width: 1440px) {
  .page-section {
    margin: 12svh 8svh;
  }
  .page-section h2 {
    font-size: 80px;
  }
}

@media (max-width: 1024px) {
  .page-section {
    margin: 12svh 2rem;
  }

  .page-section h2 {
    margin: 0;
    margin-top: 10svh;
    font-size: 64px;
    line-height: 64px;
  }
  .page-controls {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .page-section h2 {
    font-size: 48px;
  }
}